<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PTS" connectionString="Server=ROMAN-PC\SQLEXPRESS;Database=PTS;User Id=RomanVantukh;Password=RomanVantukh2012"/>
  </connectionStrings>
</configuration>